# IBS 574 Python Homework 2: Thea Ornstein

#### Add your name and the date your notebook was last updated

In [1]:
%load_ext watermark
%watermark -a "Thea Ornstein" -d

Thea Ornstein 2020-02-11

#### Load libraries

In [2]:
import watermark
import pandas as pd
import numpy as np
from sinfo import sinfo
from sklearn.decomposition import PCA
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import random

#### Load data
note: include your test for this chunk from previous homework

In [3]:
countdata = "https://raw.githubusercontent.com/jessmrandall/IBS574Spring2020/master/data/countdata.csv"
counts = pd.read_csv(countdata, index_col=0, sep="\t")
len(counts)==14944

True

#### Transpose counts

In [4]:
counts_transpose= counts.T
len(counts_transpose) ==14
counts_transpose.head()

id,Aaas,Aacs,Aadac,Aadacl2,Aadacl3,Aadat,Aaed1,Aagab,Aak1,Aamdc,...,Zfyve26,Zfyve27,Zfyve28,Zfyve9,Zxdc,Zyg11a,Zyg11b,Zyx,Zzef1,Zzz3
T02,4341,11693,0,0,0,0,1173,2618,4239,165,...,1766,3396,6,1937,1211,8,4133,12810,4269,8717
T04,4052,10913,0,0,0,0,1095,2443,3956,154,...,1648,3170,6,1807,1130,7,3857,11956,3984,8135
T06,3762,10134,0,0,0,0,1017,2269,3674,143,...,1530,2943,5,1678,1049,7,3582,11102,3700,7554
T08,3473,9354,0,0,0,0,938,2094,3391,132,...,1412,2717,5,1549,968,6,3306,10248,3415,6973
T10,2894,7795,0,0,0,0,782,1745,2826,110,...,1177,2264,4,1291,807,5,2755,8540,2846,5811

#### Add a column of target values to the transposed data frame

In [5]:
group = ["Control","Control","Control","Control","Control","Control","Control",
        "Case","Case","Case","Case","Case","Case","Case",]

counts_transpose["group"] = group

#### Perform Scaling

In [6]:
features = pd.Series(counts_transpose.columns)[0:14944]

features_arr = counts_transpose.loc[:,features].values

target_arr = counts_transpose.loc[:, ["group"]].values

fitted_features= StandardScaler().fit_transform(features_arr)

#### Determine Principal Components & Combine with Target

In [7]:
random.seed(888)

pca=PCA(n_components = 2, random_state = 888)
principleComponents = pca.fit_transform(fitted_features)
principalDataframe = pd.DataFrame(data = principleComponents, columns = ['PC1','PC2'])
principalDataframe.index = counts_transpose.index
targetDataframe =counts_transpose[["group"]]
newDataframe = pd.concat([principalDataframe,targetDataframe], axis=1)

#### Test that principal components were computed correctly & combined sucessfully

In [8]:
principalDataframe["PC1"].max() == 126.57815113747405

True

#### Report Session Information

In [9]:
sinfo()

-----
numpy       1.18.1
pandas      0.25.3
seaborn     0.10.0
sinfo       0.3.1
sklearn     0.22.1
watermark   2.0.2
-----
IPython             7.11.1
jupyter_client      5.3.4
jupyter_core        4.6.1
notebook            6.0.3
-----
Python 3.8.1 (default, Jan  8 2020, 16:15:59) [Clang 4.0.1 (tags/RELEASE_401/final)]
macOS-10.15.2-x86_64-i386-64bit
4 logical CPU cores, i386
-----
Session information updated at 2020-02-11 09:13